@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
